<div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <div class="account-wall">
                <h1 class="text-center signup-title">Sign up</h1>
                <form class="form-signup" ng-submit="signUp.sendForm()">
                    <input type="text" class="form-control" ng-model="signUp.formData.name" placeholder="username"
                           required autofocus>
                    <input type="password" class="form-control" ng-model="signUp.formData.password"
                           placeholder="password" required>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>